/*CSS File*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base CSS Styles*/
body{
    font-family: system-ui,  sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    line-height: 1.5;
}